<h1 mat-dialog-title class="center">Cadastro de Usuário</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Nome</mat-label>
        <input cdkFocusInitial matInput [(ngModel)]="data.nome">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Login</mat-label>
        <input cdkFocusInitial matInput [(ngModel)]="data.login">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Senha</mat-label>
        <input cdkFocusInitial matInput [(ngModel)]="data.senha">
    </mat-form-field>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [mat-dialog-close]="data">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
</div>